<!-- Hero Banner-->
<section class="hero-home bg-cover bg-center" style="background: url(assets/img/titlebg.jpg)">
    <div class="container index-forward py-5 mb-5">
        <div class="row text-white">
            <div class="col-lg-8">
                <p class="h5 my-4 text-shadow">SOLUTIONS FOR EXISTING BUILDINGS</p>
            </div>
        </div>
    </div>
</section>
<!-- Info Section-->
<section class="info p-0 bg-light">
    <div class="container bg-white" style="display: flex; justify-content: center;">

        <div class="main-title">
            <div class="home-title py-4" style="text-align: center;">
                <h2 class="text-uppercase lined">Welcome to</h2><br>
                <h2 class="text-uppercase lined lined-center text-primary"> Starway Elevators & Raj Technologies</h2>
            </div>
        </div>
    </div>
</section>

<section class="departments p-0 bg-light">
    <div class="container" style="display: flex; justify-content: center;">
        <div class="row align-items-center">
            <!-- <div class="col-lg-5 d-none d-lg-block"><img class="img-fluid" src="assets/img/logo.png"
                    alt="doctor"></div> -->
                    <div class="col-lg-5 col-sm-4 xs-mb-20" id="logo">
                        <img class="img-fluid mx-auto" src="assets/img/logo.png">
                    </div>
            <div class="col-lg-7 pb-5 mb-5">
                <h2 class="text-uppercase lined">About <span class="text-primary">US</span></h2>
                <div class="accordion" id="accordionExample">
                    <div class="card mb-1">
                        <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body bg-light px-4">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo.</p>
                                <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                    diam nonumy eirmod.
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                    nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                    voluptua. At vero eos et accusam et justo duo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-0">
    <div class="text-uppercase text-primary mb-5 " style="display:flex;justify-content: center;">
        <h2 class=" lined lined-center py-3"style="text-align: center;">We Value Your Safety and Your Time</h2>
    </div>
</section>
<!-- About Section-->
<section class="about bg-light">
    <div class="container" style="display: flex; justify-content: center;">
        <div class="row pt-0">
            <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-stethoscope fa-3x text-primary mb-3"></i>
                <div class="card" style="width: auto;">
                    <img class="card-img-top" src="assets/img/titlebg.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-uppercase">Elevators</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0"><i class="fas fa-microscope fa-3x text-primary mb-3"></i>
                <div class="card" style="width: auto;">
                    <img class="card-img-top" src="assets/img/titlebg.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-uppercase">Services</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4"><i class="fas fa-syringe fa-3x text-primary mb-3"></i>
                <div class="card" style="width: auto;">
                    <img class="card-img-top" src="assets/img/titlebg.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title text-uppercase">Contact us</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="info bg-light p-0">
    <div class="container bg-white" style="display: flex; justify-content: center;">
        <div class="main-title">
            <div class="home-title" style="text-align: center;">
                <h2 class="text-uppercase lined">Download your broucher from here </h2><br>
                <h2 class="text-uppercase text-primary  btn btn-outline-light"><a class="lined lined-center"href="assets/doc/MCA Admission NCRD.pdf" target="_blank" download="fileName.pdf">Starway Elevators</a></h2>
            </div>
        </div>
    </div>
</section>

<section class="opening-hours overflow-hidden p-0">
    <div class="container py-3">
        <h2 class="text-uppercase lined">Working <span class="text-primary">Hours</span></h2>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetuer. Proin gravida nibh vel velit auctor
            aliquetenean.</p>
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card shadow-sm border-0">
                    <div class="card-body border-top border-md border-primary p-5">
                        <ul class="list-unstyled mb-0">
                            <li class="d-flex align-items-center justify-content-between pb-3 px-4"><strong
                                    class="h6 mb-0">Monday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong
                                    class="h6 mb-0">Tuesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong
                                    class="h6 mb-0">Wednesday </strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong
                                    class="h6 mb-0">Friday</strong><span class="mb-0">9:00 am - 06:00 pm</span></li>
                            <li class="d-flex align-items-center justify-content-between py-3 px-4"><strong
                                    class="h6 mb-0">Saturday</strong><strong
                                    class="h6 mb-0 text-uppercase text-primary">Closed</strong></li>
                            <li class="d-flex align-items-center justify-content-between py-3 bg-light px-4"><strong
                                    class="h6 mb-0">Sunday</strong><strong
                                    class="h6 mb-0 text-uppercase text-primary">Closed</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center"><i class="fas fa-first-aid fa-4x text-primary mb-4"> </i>
                <h3 class="h4">Emergency Helpine</h3>
                <p class="text-muted mb-3 px-lg-5">If you need any assistance we are free to help you out,
                    call emergency number for emergency service.</p>
                <div class="text-primary"><a class="btn btn-outline-primary h5 px-4 py-3" href="tel:080024667921"> <i
                            class="fas fa-phone-square mr-2"></i>+ 0000 0000 0000</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section-->
